/* Example styles for admin.css */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #28282B;;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
